* {
    font-size: 20px;
    text-align: center;
}

div {
    padding-left: 5px;
}

h1 {
    font-size: 30px;
    color: rgb(165, 28, 85);
}

ul {
    list-style-type: none;
    padding-left: inherit;
}

li {
    margin: 5px;
    color: rgb(218, 105, 129);
}

